<html>
<head>
<title>Front page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
Welcome to this sample application! To access protected pages you need to <a href="/login/">log in</a>. Accepted methods are kerberos and ldap.
<p>{{ session }}
</body>
</html>
