<html>
<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<center>
<h1>Login Form</h1>
<a href="{{ kerberos_url }}">Use kerberos</a>
<form action="{{ login_url }}" method="post">
{% if options %}Login type <select name="logintype">
{% for option in options %}<option value="{{ option }}">{{ options[option] }}</option>{% endfor %}
</select>{% endif %}
<p>Username <input type="text" value="" name="username" required/></p>
<p>Password <input type="password" name="password" required/></p>
<p><input accesskey="s" type="submit" value="Submit"/></p>
</form>
</center>
</body>
</html>
