<html>
<head>
<title>Session_app settings</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<style type="text/css" media="screen">
input {
   width: 500px;
}
</style> -->
</head>
<body>
<h1>Settings</h1>
<form action="#" method="post">
<p>Ldap URI <input style="width: 500px;" type="text" value="{{ ldap_uri }}" name="ldap_uri"</p>
<p><input accesskey="s" type="submit" value="Submit"/></p>
</form>
</html>
