<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>View Session Cookie</title>
</head>
Username: {{ s_user }}<br/>{#
Cookie user: {{ c_user }}<br/>
Session: {{ session }}<br/>
Cookies: {{ cookie }}<br/>#}
Session expires: {{ cookie.timestamp }}<br/>
Logged in through: {{ cookie.type }}{% if groups %}<br/>
Usergroups:<ul>
{% for group in groups %}<li>{{ group }}</li>
{% endfor %}</ul>{% endif %}
</html>
